[submodule "addons/2026_01_03_gdp_input_to_primitive"]
	path = addons/2026_01_03_gdp_input_to_primitive
	url = https://github.com/EloiStree/2026_01_03_gdp_input_to_primitive.git
[submodule "addons/2026_01_18_gdp_nes_controller_udp"]
	path = addons/2026_01_18_gdp_nes_controller_udp
	url = https://github.com/EloiStree/2026_01_18_gdp_nes_controller_udp.git
[submodule "addons/2026_07_30_gdp_boolean_register"]
	path = addons/2026_07_30_gdp_boolean_register
	url = https://github.com/EloiStree/2026_07_30_gdp_boolean_register.git
[submodule "addons/2025_10_27_gdp_udp_in_out_gate"]
	path = addons/2025_10_27_gdp_udp_in_out_gate
	url = https://github.com/EloiStree/2025_10_27_gdp_udp_in_out_gate
[submodule "addons/2025_10_28_gdp_trusted_websocket"]
	path = addons/2025_10_28_gdp_trusted_websocket
	url = https://github.com/EloiStree/2025_10_28_gdp_trusted_websocket.git
[submodule "addons/2026_06_29_gdp_text_byte_in_out_layer_ws_rsa"]
	path = addons/2026_06_29_gdp_text_byte_in_out_layer_ws_rsa
	url = https://github.com/EloiStree/2026_06_29_gdp_text_byte_in_out_layer_ws_rsa.git
[submodule "addons/2026_07_08_gdp_mqtt_basic"]
	path = addons/2026_07_08_gdp_mqtt_basic
	url = https://github.com/EloiStree/2026_07_08_gdp_mqtt_basic.git
[submodule "addons/2026_04_27_gdp_oled_128x64"]
	path = addons/2026_04_27_gdp_oled_128x64
	url = https://github.com/EloiStree/2026_04_27_gdp_oled_128x64.git
[submodule "addons/2026_07_29_gdp_gomi"]
	path = addons/2026_07_29_gdp_gomi
	url = https://github.com/EloiStree/2026_07_29_gdp_gomi.git
[submodule "addons/2026_07_31_gdp_load_scene_by_guid"]
	path = addons/2026_07_31_gdp_load_scene_by_guid
	url = https://github.com/EloiStree/2026_07_31_gdp_load_scene_by_guid.git
[submodule "addons/2026_07_29_gdp_display_git_module_info"]
	path = addons/2026_07_29_gdp_display_git_module_info
	url = https://github.com/EloiStree/2026_07_29_gdp_display_git_module_info.git
[submodule "addons/2025_09_12_gdp_generate_sign_rsa"]
	path = addons/2025_09_12_gdp_generate_sign_rsa
	url = https://github.com/EloiStree/2025_09_12_gdp_generate_sign_rsa.git
[submodule "addons/2026_07_13_gdp_github_login_device"]
	path = addons/2026_07_13_gdp_github_login_device
	url = https://github.com/EloiStree/2026_07_13_gdp_github_login_device.git
[submodule "addons/2026_06_29_gdp_text_byte_in_out_layer"]
	path = addons/2026_06_29_gdp_text_byte_in_out_layer
	url = https://github.com/EloiStree/2026_06_29_gdp_text_byte_in_out_layer.git
[submodule "addons/2026_08_01_gdp_s2w_parser"]
	path = addons/2026_08_01_gdp_s2w_parser
	url = https://github.com/EloiStree/2026_08_01_gdp_s2w_parser.git
[submodule "addons/2026_08_05_gdp_http_n8n"]
	path = addons/2026_08_05_gdp_http_n8n
	url = https://github.com/EloiStree/2026_08_05_gdp_http_n8n.git
[submodule "addons/2026_08_08_gdp_input_hardware_class"]
	path = addons/2026_08_08_gdp_input_hardware_class
	url = https://github.com/EloiStree/2026_08_08_gdp_input_hardware_class.git
[submodule "addons/2026_08_08_gdp_bool_grid_in_out_event"]
	path = addons/2026_08_08_gdp_bool_grid_in_out_event
	url = https://github.com/EloiStree/2026_08_08_gdp_bool_grid_in_out_event.git
[submodule "2026_08_09_gdp_text_interpeter_sc_cmd"]
	path = 2026_08_09_gdp_text_interpeter_sc_cmd
	url = https://github.com/EloiStree/2026_08_09_gdp_text_interpeter_sc_cmd
[submodule "addons/2026_08_09_gdp_text_interpeter_sc_cmd"]
	path = addons/2026_08_09_gdp_text_interpeter_sc_cmd
	url = https://github.com/EloiStree/2026_08_09_gdp_text_interpeter_sc_cmd
[submodule "addons/2026_08_10_gdp_omi_file_import"]
	path = addons/2026_08_10_gdp_omi_file_import
	url = https://github.com/EloiStree/2026_08_10_gdp_omi_file_import
[submodule "addons/2026_08_13_gdp_developer_note"]
	path = addons/2026_08_13_gdp_developer_note
	url = https://github.com/EloiStree/2026_08_13_gdp_developer_note
[submodule "addons/2026_08_16_gdp_files_as_one_text"]
	path = addons/2026_08_16_gdp_files_as_one_text
	url = https://github.com/EloiStree/2026_08_16_gdp_files_as_one_text.git
[submodule "addons/2026_08_17_gdp_audio_spectrogram_as_input"]
	path = addons/2026_08_17_gdp_audio_spectrogram_as_input
	url = https://github.com/EloiStree/2026_08_17_gdp_audio_spectrogram_as_input.git
[submodule "addons/2026_08_22_gdp_gomi_code_edit_pusher"]
	path = addons/2026_08_22_gdp_gomi_code_edit_pusher
	url = https://github.com/EloiStree/2026_08_22_gdp_gomi_code_edit_pusher.git
[submodule "addons/2026_08_23_gdp_text_to_gdscript_trigger"]
	path = addons/2026_08_23_gdp_text_to_gdscript_trigger
	url = https://github.com/EloiStree/2026_08_23_gdp_text_to_gdscript_trigger.git
[submodule "addons/2026_08_24_gdp_import_text_to_run_from_folder"]
	path = addons/2026_08_24_gdp_import_text_to_run_from_folder
	url = https://github.com/EloiStree/2026_08_24_gdp_import_text_to_run_from_folder.git
[submodule "addons/2026_08_24_gdp_launch_python_on_platform"]
	path = addons/2026_08_24_gdp_launch_python_on_platform
	url = https://github.com/EloiStree/2026_08_24_gdp_launch_python_on_platform.git
[submodule "addons/2026_08_26_gdp_midi_params_to_command"]
	path = addons/2026_08_26_gdp_midi_params_to_command
	url = https://github.com/EloiStree/2026_08_26_gdp_midi_params_to_command.git
